# Python
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/

# R
.Rhistory
.RData
.Rproj.user/

# Jupyter
.ipynb_checkpoints/

# Local environments
.venv/
.venv-plots/
venv/
env/

# Large/raw data
*.fastq
*.fastq.gz
*.fq
*.fq.gz
*.bam
*.bai
*.sam
*.cram
*.cram.crai
models/*.pt

# OS/editor files
.DS_Store
Thumbs.db
*.swp
